# Godot-specific ignores
.godot/
.import/
export_presets.cfg
builds/

# Export ignores
discord_game_sdk.dll
discord_game_sdk_binding.dll
jumpKing.exe
jumpKing.pck

# config templates
config/emptyConfig/